body {
    font-family: 'Poppins', sans-serif;
}

nav {
    background: black;
}
ul {    
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    align-items: center;
}

ul > li {
    color: white;
}

.portfolio-photo img {
    width: 400px;
    height: auto;
}

div.portfolio-hp-banner {
    justify-content: center;
    align-items: center;
}

.name-job p {
    width: 50ch;
}


