body {
    font-family: 'Poppins', sans-serif;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 50px;
}
nav ul {    
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
    margin-bottom: 0;
}

nav ul > li {
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #5CE1E6;
}

section.portfolio-hp-banner {
    background-image: url('https://github.com/EdgarPateno/pf-exercise/blob/main/images/portfolio-background-2.png?raw=true');
}

.portfolio-photo img {
    width: 400px;
    height: auto;
}

.job-description-box {
    justify-content: center;
    align-items: center;
}

.job-description-text p {
    width: 50ch;
    color: white;
}

/* MY PROJECT SECTION */

h2.myProjects-title {
    font-size: 60px;
    text-align: center;
    font-weight: 700;
}
div.myProjects-imgText {
    row-gap: 50px;
    display: grid;
}
.myProject-Shopify-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.myProject-Shopify-wrapper > div {
    display: block;
}

.myProject-Shopify-wrapper > div > p {
    width: 50ch;
}

.myProject-CS-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.myProject-CS-wrapper > img {
    order: 2;
}

.myProject-CS-wrapper > div > p {
    width: 50ch;
}

.myProject-email-marketing-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.myProject-email-marketing-wrapper > div > p {
    width: 50ch;
}

.myProject-fb-marketing {
    display: flex;
    align-items: center;
    justify-content: center;
}